body {
  /*background: url('https://i.ytimg.com/vi/hPCotoawhk0/maxresdefault.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #004d40;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav ul a, .side-nav a {
  font-size: 20px;
}

.button-collapse {
  color: #26a69a;
}

.borderDiv {
	padding: 55px;
}

#aboutMe {
	font-size: 28px;
}

span {
	font-size: 20px;
}

.projTitle {
	background-color: #0277bd;
}

.demoLink {
	font-size: 36px;
}

.card-action {
	text-align: center;
	color: #0277bd;
}

span.card-title.contactMe {
	font-size: 28px;
}

.projBtn {
  width: 75%;
  height: 85px;
  font-size: 36px;
}

#name {
	font-size: 42px;
}

iframe {
	width: 100%;
	height: 700px;
}

#aboutMeCard {
  padding: 8px;
}

button.btn.waves-effect.btn-large.center.projBtn {
  background-color: #01579b;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #0277bd;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #81d4fa;
}

.card .card-content p {
	font-size: 24px;
}

#background {
	background-color: #000;
	width: 100%;
	height: 100vh;
}