body {
  font-family: 'Delius', cursive;
}

nav {
  background-color: steelblue;
}

img.responsive-img, video.responsive-video {
  max-width: 30%;
  height: auto;
  /*margin: 27%;*/
}

.logoImg {
  max-height: 8vh;
}

.projectDiv {
  margin-top: 2%;
}

.logoDiv {
  text-align: center;
}

nav {
  max-width: 117vh;
  margin: 0 auto;
}

#selfie {
  max-height: 22vh;
}

.fa {
  margin-right: 2%;
}

p.flow-text {
  margin: 0%;
}